/*ABOUT*/

.heroimg {
	background: url(./img/about/hero-about.jpeg) center/cover;
	height: 36rem;
	display: flex;
	justify-content: center;
	align-items: center;
	 }
  
  
  .titulo-about{
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .tituloa-bout > h2{
  font-size: 4rem;
  
  }

  .contenedor-about-2{
	background-color: white;
	min-height: 50rem;
  }

  .h3-about{
    padding-top: 2rem;
	color: black;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.2rem;

  }

.subtitle-flex{
  display: flex;
  justify-content: center;
  align-items: center; 
}
.subtitle{
  width: 50%; 
  max-width: 250px; 
  height: auto; 
  margin-top: -1.5rem; 
}


.contenedor-p-img{
  display: flex;
  align-items: center;
  margin-bottom: 8rem;
}

.cont-texto{
  padding: 0rem 10rem 0 15rem;
  justify-content: center;

}

.cont-img{
  width: 30rem; 
  height: auto;
  padding-right: 17rem;
}
.quote{
  color: black;
  font-size: 1.7rem;
 padding: 0rem 10rem 0 15rem;
}


/*alumnos*/


  .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    padding-bottom: 3rem ;
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    padding: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}
.card h3 {
    margin-top: 10px;
    font-size: 1.5em;
}
.card p {
    font-size: 1em;
    color: #666;
}