/*ABOUT*/

.heroimg {
  background: url(../img/about/hero-about.jpeg) center/cover;
  height: 36rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-about {
  margin: 0 auto;
}

.titulo-about > h2 {
  font-size: 4.5rem;
}

.contenedor-about-2 {
  background-color: white;
  min-height: 50rem;
  color: var(--bittersweet);
}

.h3-about {
  padding-top: 2rem;
  color: black;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.2rem;
}

.contenedor-p-img {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 8rem;  
  justify-content: space-evenly;
}

.cont-texto {
  width: 35%;
}

.cont-img {
  width: 20%;
  height: auto;
  border-radius: 5%;
}

.cont-q {
  display: flex;
  justify-content: center;
  margin-top: -4rem;
}

.quote {
  color: black;
  font-size: 1.7rem;
}

.mision-vision {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}

.mision {
  width: 35%;
}
.mision > h3 {
  align-items: center;
}
.vision {
  width: 35%;
}
.vision > h3 {
  align-items: center;
}

/*maestros*/

.maestro {
  margin-bottom: 1.5rem; 
}

.h4-about {
text-align: center;
margin-bottom: 1.5rem;
}

.contenido {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  margin-bottom: 5rem;
}

.contenido p {
  width: 30%; 
  margin: 0;
  margin-right: 20px; 

}

.contenido img {
  width: 15%; 
  height: auto;
  border-radius: 5%;
  object-fit: cover; 
}
/*alumnos*/

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}
.card {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  width: 18.75rem;
  padding: 1rem;
  box-shadow: 0.25rem 0.25rem 0.25rem var(--tyrian-purple);; 
  text-align: center;
  background-color: rgb(205, 180, 247);
}
.card img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  box-shadow:var(--tyrian-purple);
}
.card h3 {
  margin-top: 0.6px;
  font-size: 1.5em;
  color: var(--tyrian-purple);
}
.card p {
  font-size: 1em;
  text-align: center;
  color: var(--violet-jtc);
}
.h3-about{
  text-justify: center;
}
/*SEPARADOR*/

.separador {
  margin-top: ;
  position: relative;
}

.separador::before {
  content: "";
  display: block;
  position: absolute;
  top: -5.5rem;
  left: 50%; 
  transform: translateX(-50%); 
  width: 150px; 
  height: 100px; 

  background-image: url("../img/espadas-separador.svg");
  background-size: 150px 150px; 
  background-repeat: no-repeat;

  filter: invert(1) sepia(1) saturate(0) hue-rotate(0deg);
}


.cont-img:hover {
  transition: width 1s;
  width: 21%;
  box-shadow: 3px 3px 3px var(--violet-jtc);
}

.contenido img:hover{
  transition: width 1s;
  width: 16%;
  box-shadow: 3px 3px 3px var(--violet-jtc);
}

.card img:hover{

}