/*ABOUT*/

.heroimg {
  background: url(../img/about/hero-about.jpeg) bottom/cover;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-about {
  margin: 0 auto;
}

.titulo-about > h1 {
  font-size: 4.5rem;

}
p{
  color: rgb(36, 36, 36);
}

h2, h3 {
  color:var(--tyrian-purple);
}
.contenedor-about-2 {
  background-color: white;
  min-height: 50rem;
  color: var(--bittersweet);
}

.h3-about {
  padding-top: 2rem;
  color: var(--tyrian-purple);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.2rem;
}

.h3-about-alumnos {
  padding-top: 2rem;
  color: var(--tyrian-purple);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.2rem;
}
.contenedor-p-img {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 8rem;  
  justify-content: space-evenly;
}

.cont-texto {
  width: 35%;
}

.cont-img {
  width: 20%;
  height: auto;
  border-radius: 2rem;
}

.cont-q {
  display: flex;
  justify-content: center;
  margin-top: -4rem;
  padding: 2rem 0 2rem 0;
}

.quote {
  color: var(--tyrian-purple);
  font-size: 1.7rem;
}

.mision-vision {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  padding-bottom: 3rem;
  background-color: #acf7c13f;
}

.mision {
  width: 35%;
}
.mision > h3 {
  align-items: center;
}
.vision {
  width: 35%;
}
.vision > h3 {
  align-items: center;
}

/*maestros*/

.contenido {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  margin-bottom: 3rem;
}

.contenido p {
  width: 30%; 
  margin: 0;
  margin-right: 20px; 
}

.contenido img {
  width: 22%; 
  height: auto;
  border-radius: 2rem;
  object-fit: cover; 
}
/*alumnos*/

.cards-container-alumnos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1.2rem;
  padding-bottom: 5rem;
  width: 100%;
}
.card-alumnos {
  border: 1px solid #cccccc;
  border-radius: 2rem;
  width: 20%;
  padding: 1rem;
  text-align: center;
  background-color: #acf7c13f;
  box-sizing: border-box;
}

.card-alumnos-invertida{
  border: 1px solid #cccccc;
  border-radius: 2rem;
  width: 20%;
  padding: 1rem;
  text-align: center;
  background-color: var(--tyrian-purple);
  box-sizing: border-box;
}
.card-alumnos img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  box-shadow:var(--tyrian-purple);
}
.card-alumnos-invertida img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  box-shadow:var(--tyrian-purple);
}
.card-alumnos h3 {
  margin-top: 0.6px;
  font-size: 1.5em;
  color: var(--tyrian-purple);
}
.card-alumnos-invertida h3 {
  margin-top: 0.6px;
  font-size: 1.5em;
  color: var(--celadon);
}
.card-alumnos p {
  font-size: 1.1rem;
  text-align: center;
  color: rgb(36, 36, 36);
}
.card-alumnos-invertida p {
  font-size: 1.1rem;
  text-align: center;
  color: rgb(255, 255, 255);
}
.h3-about{
  text-justify: center;
  margin-bottom: 2rem;
}

/*boton*/
.cont-boton{
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.cont-boton-ult{
  display: flex;
  justify-content: center;
  margin-top: -2rem;
  margin-bottom: 7rem;
}

  .button:hover{
	background-color: var(--celadon);
	color: var(--tyrian-purple);

  }
/*SEPARADOR*/

.separador {
  margin-top: ;
  position: relative;
}

.separador::before {
  content: "";
  display: block;
  position: absolute;
  top: -5.5rem;
  left: 50%; 
  transform: translateX(-50%); 
  width: 150px; 
  height: 100px; 

  background-image: url("../img/espadas-separador.svg");
  background-size: 150px 150px; 
  background-repeat: no-repeat;

  filter: invert(1) sepia(1) saturate(0) hue-rotate(0deg);
}


/*hover*/

.cont-img:hover {
  transition: 500ms;
  -webkit-filter: grayscale(50%); 
  filter: grayscale(50%);
  box-shadow: 3px 3px 3px var(--violet-jtc);
}

.contenido img:hover{
  transition: 500ms;
  -webkit-filter: grayscale(50%); 
  filter: grayscale(50%);
  box-shadow: 3px 3px 3px var(--violet-jtc);
}

.card:hover{
  box-shadow: 10px 10px 10px var(--violet-jtc);
}


/* Media Queries */
@media only screen and (min-width: 0px) and (max-width: 530px) {

  .titulo-about {
    max-width: 100%;
  }

  .titulo-about > h1 {
    font-size: 1.4rem; 
    margin-top: 8rem;
  }

  .heroimg {
    margin-top: -9rem;
    height: 8rem; 
    background-position: center;
  }

  .contenedor-p-img {
    flex-direction: column; 
    align-items: center;
  }

  .cont-texto {
    width: 90%;
    margin-bottom: 1rem;
  }

  .cont-img {
    width: 80%; 
  }

  .mision-vision {
    flex-direction: column; 
    align-items: center;
    padding-bottom: 2rem;
    text-align: justify;
  }

  .mision, .vision {
    width: 90%;
  }
  .vision > h3{
    margin-top: 1rem;
  }

  .contenido {
    flex-direction: column;
    align-items: center; 
  }

  .contenido p {
    width: 80%; 
    margin: 0 0 1rem 0; 
  }

  .contenido img {
    width: 70%;
    border-radius: 2rem;
    margin-bottom: 1rem;
  }

.h3-about-alumnos{
  margin-top: 4rem;
  margin-bottom: -1.5rem;
  font-size: 2.4rem;
}

  .cards-container {
    flex-direction: column; 
    align-items: center;
    margin-bottom: -1.5rem;
  }

  .card-alumnos {
    width: 90%;
    margin-bottom: 1.5rem;
  }

  .card-alumnos-invertida {
    width: 90%;
    margin-bottom: 1.5rem;
  }


  .cont-boton, .cont-boton-ult {
    margin-bottom: 2rem; 
  }
}
@media only screen and (min-width: 530px) and (max-width: 840px) {
p{
  font-size: 1rem;
}
.cards-container{
  font-size: 1rem;
}

  .titulo-about {
    max-width: 100%;
  }

  .titulo-about > h1 {
    font-size: 2rem;
line-height: 1.7rem;
margin-top: 6rem;
  }
  .h3-about {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .heroimg {
    margin-top: -10rem;
    height: 15rem;
    background-position: center;
  }
  .quote {
    font-size: 1.5rem;
    text-align: center;
  }
  .cont-texto {
    width: 45%;
    margin: 0;
  }

  .cont-img {
    width: 35%;
  }

  .mision-vision {
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2rem;
    margin-bottom: -5rem;
  }

  .mision,
  .vision {
    width: 40%;
  }
  .contenido p {
    width: 50%; 
    text-align: justify;
  }

  .contenido img {
    width: 30%; 
  }

.h3-about{
  margin-top: -2rem;
}
  .cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }

  .card-alumnos {
    width: 40%;
    margin: 1rem;
  }
  .card-alumnos-invertida {
    width: 40%;
    margin: 1rem;
  }
}

