      .cards-container-alumnos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 5rem 0;
        width: 100%;
      }

      .card-alumnos {
        border: 1px solid #cccccc;
        border-radius: 2rem;
        max-width: 30rem;
        min-width: 20rem;
        width: 18%;
        padding: 1rem;
        text-align: center;
        background-color: var(--backtrans);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 1rem;
      }
      
      .card-alumnos img {
        border-radius: 0.5rem;
        width: 100%;
        box-shadow:var(--tyrian-purple);
      }

      .card-alumnos h3 {
        margin-top: 0.6px;
        font-size: 1.5em;
        color: var(--tyrian-purple);
      }

      .card-alumnos-invertida h3 {
        margin-top: 0.6px;
        font-size: 1.5em;
        color: var(--celadon);
      }

      .card-alumnos p {
        font-size: 1.1rem;
        text-align: center;
        color: rgb(36, 36, 36);
      }
      .card-alumnos-invertida p {
        font-size: 1.1rem;
        text-align: center;
        color: rgb(255, 255, 255);
      }



       @media only screen and (max-width: 530px) {
        main {
          margin: 2rem;
          padding: 0;
        }
        .cards-container-alumnos {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: wrap;
   
          width: 100%;
        }
  
        .card-alumnos {
          border: 1px solid #cccccc;
          border-radius: 2rem;
          width: 100%;
          padding: 1rem;
          text-align: center;
          background-color: var(--backtrans);
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
      
      
      
      }
      
      @media screen and (max-width: 841px) {
        .cards-container-alumnos {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: wrap;
          margin: 0 auto;
          width: 50%;
        }
  
      }
