    
 
  :root {
        --bittersweet: #ff595eff;
        --tyrian-purple: #5c0029ff;
        --violet-jtc: #61304bff;
        --azul-claro: #94bfbeff;
        --celadon: #acf7c1ff;
        }

  body {
        margin: 0;
        padding: 0;
        background-color:white;
        } 
   
  h2 {
      color: var(--tyrian-purple);
      font-family: "Philosopher", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      padding-top: 1rem;
      font-size: 2.4rem;
      font-weight: bold;
    }
    
    h3 {
      color:rgb(59, 1, 59);
      font-family: "Philosopher", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      padding-top: 1rem;
      font-size:1.9rem;
      font-weight: bold;
    }
    
    h4 {
      color:purple;
      font-family: "Philosopher", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      padding-top: 1rem;
      font-size: 1.5rem;
    }
   
    p { color: var(--tyrian-purple);
      font-family: "Philosopher", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      padding-top: 1rem;
      font-size: 1.4rem;
      font-weight: bold;
    }

    .container1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content:space-evenly;
        align-items: center;
        margin-bottom: 3rem;
        border-radius: 20px;
        box-sizing: content-box;
        background-color: white;
         }
         
    .container1 img{
        width: 30%; 
        border-radius: 15px;
        margin-right: 10px; 
      border: 1px solid black;
        
         }
    .container1 h2{
       justify-content: center;
       align-items: center;
             }

    .contenido1 {
        width: 50%; 
        height: auto;
        border-radius: 2rem;
      
          }

   .container2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-evenly;
        align-items: center; 
        margin-bottom: 3rem;
        border-radius: 20px;
        box-sizing: content-box;
        background-color: var(--celadon);
        }
   
   .container2 img {
        width: 30%; 
        border-radius: 15px;
        margin-right: 20px; 
        border: 1px solid black;
              
           } 
   .container2 h2{
       justify-content: center;
        align-items: center;
          }
   .contenido2 {
        width: 50%; 
        height: auto;
        border-radius: 2rem;
       
              }  
   
   .container3 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-evenly;
        align-items: center; 
        margin-bottom: 3rem;
        border-radius: 20px;
        box-sizing: content-box;
        background-color: white;
        }
 
   .container3 img {
        width: 30%; 
        margin: 0;
        border-radius: 15px;
        margin-right: 20px; 
        border: 1px solid black;
          
         } 
    .container3 h2{
       justify-content: center;
       align-items: center;
        }
      
   .contenido3 {
        width: 50%; 
        height: auto;
        border-radius: 2rem;
     
          } 
   .container4 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-evenly;
        align-items: center; 
        margin-bottom: 3rem;
        border-radius: 20px;
        box-sizing: content-box;
        background-color: var(--celadon);
        }
   .container4 img {
        width: 30%; 
        margin: 0;
        border-radius: 15px;
        margin-right: 20px; 
        border: 1px solid black;
            
         }
    .container4 h2{
         justify-content: center;
          align-items: center;
        }
    .contenido4 {
        width: 50%; 
        height: auto;
        border-radius: 2rem;
       
         }  
     
   .container5 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-evenly;
        align-items: center; 
        margin-bottom: 3rem;
        border-radius: 20px;
        box-sizing: content-box;
        background-color: white;
        }
           
   .container5 img{
        width: 30%; 
        margin: 0;
        border-radius: 15px;
        margin-right: 20px;
        border: 1px solid black; 
                        }     
   .container5 h2 {
       justify-content: center;
       align-items: center;
          }
   .contenido5 {
        width: 50%; 
        height: auto;
        border-radius: 2rem;
        }
