    
 
  :root {
        --bittersweet: #ff595eff;
        --tyrian-purple: #5c0029ff;
        --violet-jtc: #61304bff;
        --azul-claro: #94bfbeff;
        --celadon: #acf7c1ff;
        }

  body {
        margin: 0;
        padding: 0;
        background-color: rgb(137, 164, 147);
        } 
   
  h2 {
      color: var(--tyrian-purple);
      font-family: "Philosopher", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      padding-top: 1rem;
      font-size: 3rem;
      font-weight: bold;
    }
    
    h3 {
      color:rgb(59, 1, 59);
      font-family: "Philosopher", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      padding-top: 1rem;
      font-size:2rem;
      font-weight: bold;
    }
    
    h4 {
      color:purple;
      font-family: "Philosopher", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      padding-top: 1rem;
      font-size: 1.8rem;
    }
   
    p { color: var(--tyrian-purple);
      font-family: "Philosopher", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      padding-top: 1rem;
      font-size: 1.5rem;
      font-weight: bold;
    }

     
 
     
    