    
 
  :root {
        --bittersweet: #ff595eff;
        --tyrian-purple: #5c0029ff;
        --violet-jtc: #61304bff;
        --azul-claro: #94bfbeff;
        --celadon: #acf7c1ff;
        }

  body {
        margin: 0;
        padding: 0;
        background-color: rgb(137, 164, 147);
        } 
   
  h2 {
      color: var(--tyrian-purple);
      font-family: "Philosopher", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      padding-top: 1rem;
      font-size: 2.4rem;
      font-weight: bold;
    }
    
    h3 {
      color:rgb(59, 1, 59);
      font-family: "Philosopher", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      padding-top: 1rem;
      font-size:1.9rem;
      font-weight: bold;
    }
    
    h4 {
      color:purple;
      font-family: "Philosopher", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      padding-top: 1rem;
      font-size: 1.5rem;
    }
   
    p { color: var(--tyrian-purple);
      font-family: "Philosopher", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      padding-top: 1rem;
      font-size: 1.4rem;
      font-weight: bold;
    }

     .container1 {
          width: 100%;
          height: 500px;
          display: flex;
          flex-wrap: wrap;
          margin: 10px;
          justify-content:center;
          box-sizing: content-box;
         }

    .container1 img{
         width:40%;
         height: auto;
         border-radius: 15px;
      
        }

    .contenido1 {
          width: 80%;
          height: auto;
          
         }    
    .container2 {
            width: 100%;
            height: 400px;
            display: flex;
            flex-wrap: wrap;
            margin: 10px;
            justify-content:center;
            box-sizing: content-box;
            } 
   
    .container2 img {
            width:40% ;
            height:auto;    
            border-radius: 15px;
           } 
        
        .contenido2 {
           width: 80%;
           height: auto;
          
            }
          
     .container3 {
          width: 100%;
          height: 400px;
          display: flex;
          flex-wrap: wrap;
          margin: 10px;
         justify-content:center;
          box-sizing: content-box;
          } 
 
     .container3 img {
          width: 40%;
          height:auto ;    
          border-radius: 15px;
         } 
      
      .contenido3 {
            width: 80%;
            height: auto;
          } 
      .container4 {
            width: 100%;
            height: 400px;
            display: flex;
            flex-wrap: wrap;
            margin: 10px;
            justify-content:center;
            box-sizing: content-box;
           } 
 
      .container4 img {
          width:40%;
          height:auto ;    
          border-radius: 15px;
         
         }
      .contenido4 {
          width: 80%;
          height: auto;
         
              }  
     
     .container5 {
          width:100%;
          height: 400px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin: 10px;
          box-sizing: content-box;
           } 
     .container5 img{
            width:40%;
            height: auto;
            border-radius: 15px;
           }
      
     .contenido5 {
          width: 80%;
          height: auto;
                }
