
body{ 
    background-image: url(../img/home/background2.jpg);
    background-repeat: no-repeat;
    background-size: 1800px;  
    background-position-x: 200px;
    background-color: rgb(0, 0, 0);

}

.subtitleContent {
  color: var(--celadon);
  font-family: "Quicksand", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1rem;
  font-size: 1rem;
}

.cont-inicio-1 {
 padding-top: 4rem;
  background-color: white;
  min-height: 50rem;
  color: var(--bittersweet);
}

/*bienvenidos*/
.contenedor-p-img {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 8rem;  
  justify-content: space-evenly;
}

.cont-p-inicio {
  width: 30%;
  color:black;
}

.cont-img-inicio {
  width: 20%;
  height: auto;
  border-radius: 2rem;
}
/*CARDS*/

.h3-inicio-membresia {
  color: var(--tyrian-purple);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: white;
}
.card {
  border: 1px solid #cccccc;
  border-radius: 2rem;
  width: 18.75rem;
  padding: 1rem;

  text-align: center;
  background-color: rgba(104, 104, 105, 0);
}

.card-2{
  border: 1px solid #ddd;
  border-radius: 2rem;
  width: 18.75rem;
  padding: 1rem;
  text-align: center;
  background-color: var(--tyrian-purple);
}

.card h3 {
  margin-top: 0.6px;
  font-size: 1.5em;
  color: var(--tyrian-purple);
}
.card-2 h3 {
  font-size: 1.5em;
  color: var(--celadon);
}


.card p {
  font-size: 1em;
  text-align: center;
  color: rgb(36, 36, 36);
}
.h3-about{
  text-justify: center;
}

.card ul {
  list-style-type: disc; 
  padding-left: 0; 
}
.card-2 ul{
  list-style-type: disc; 
  padding-left: 0; 
}

.card li {
  text-align: left;
  margin-left: 20px; 
  color: black;
}

.card-2 li{
  text-align: left; 
  margin-left: 20px; 
  color:white;
}

/*opiniones*/
.contenedor-p-img-3{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 8rem;
  margin-bottom: 8rem;  
  justify-content: space-evenly;
  margin-top: -1rem;
}

.h3-inicio-opiniones {
  color: var(--tyrian-purple);
  font-size: 2.5rem;
  text-align: center;
  margin-top: 8rem;
}

/*Separador*/

.separador {
  margin-top: ;
  position: relative;
}

.separador::before {
  content: "";
  display: block;
  position: absolute;
  top: -5.5rem;
  left: 50%; 
  transform: translateX(-50%); 
  width: 150px; 
  height: 100px; 

  background-image: url("../img/espadas-separador.svg");
  background-size: 150px 150px; 
  background-repeat: no-repeat;

  filter: invert(1) sepia(1) saturate(0) hue-rotate(0deg);
}
@keyframes slide {
    from {
     filter: opacity(0%);
    }
  
    to {
      filter: opacity(100%);
    }
  }
  
  
.contenedor {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    padding-bottom: 10rem;
    justify-content: flex-start;
    padding-top: 10rem;

    animation-name: slide;
    animation-duration: 5s;
  
  }



@media screen and (max-width: 800px) {
    .nav1 {
      display: flex;
      flex-direction: column;
      padding-right: 2rem;
      color: var(--celadon);
      padding-left: 3rem;
      line-height: 0.5;
      padding-top: 0rem;
      text-align: center;
      font-size: larger;
      
    }
  
    header {
      height: 21rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-bottom: 2rem;
    }
  
    .contenedor {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      padding-bottom: 0rem;
    
    }
  
    .identidad {
      display: flex;
      gap: 0rem;
    }

    body{
        background-image: none;
    }
  }
  
  footer{
    background-color: black;
  }
