* {
	box-sizing: border-box;
  }

  body {
	background:  #f1f1f1;
  }

  .nav{
     display: flex;
	 justify-content: center;
     flex-direction: column;
	 line-height: 0.5;
	 padding-top: 0rem;
     text-align: center;
	 font-size: larger;
  }

  .header-blog{
	 height: 4rem;
	 display: flex;
	 flex-direction: column;
	 justify-content: space-around;
	 padding-bottom: 2rem;
  }

  .contenedor{
	 display: flex;
	 flex-direction: column;
	 gap: 0rem;
	 padding-bottom: 10rem;
  }
   /* styling for peragraphs*/
  p {
    width: 80%;
	margin: 0;
	text-align: justify;
	font-size: 18px;
	line-height: 1.5;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

   p2  { 
	 font-size: 20px;
	 padding: 10px;
	 font-family: 'Times New Roman', Times, serif;
	 color: rgb(167, 3, 93);

   }

  /* styling for list items*/

  li  {
	font-family: initial;
	  color: rgb(196, 103, 146);
  }


  .header-blog {
	padding: 20px;
	font-size: 40px;
	text-align: center;
	background: rgb(175, 1, 88);
  }
  
  .column {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	margin: 0 auto;
  }

  .column{
	width: 100%;
	margin: 0;
	padding: 20px;
  }
  
  .cont-img {
	background-color: #ffffff;
	width: 100%;
	padding: 30px;
	display: flex;
	justify-content: center;
  }
   .card h2{
	 color: rgb(153, 3, 73);
	 padding: 10px;
  }
  .card h5{
	color: rgb(153, 3, 73);
  }
  .card p{
	color: rgb(153, 3, 73);
	padding: 10px;
  }
   
  
  /* Add a card effect for articles */
  .card {
	width: 100%;
	background-color: white;
	padding: 20px;
	margin-top: 20px;
  }

  
  