main.noticias{
	margin: 0;
	padding: 0;
}

.contenedor-noticias {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	background: #f1f1f1;
	padding: 3rem;
	margin: 0 auto;
	align-items: center;
}

.card {
	border-radius: 2rem;
	width: 50%;
	background-color: white;
	padding: 3rem;
	margin-bottom: 3rem;
}

.card .contenido{
	color: var(--tyrian-purple);
	width: 98%;
  margin: 0 auto;
  text-align: justify;
}

.card h2 {
	color: var(--tyrian-purple);
	font-size: 2rem;
	margin-bottom: 0.5rem;
}

.card h5 {
	margin-bottom: 2rem;
	color: var(--bittersweet);
}

  .card img {
  width: 40%;
  float:right;
  margin: 0 2rem;
  border-radius: 2rem;
  }

   /* styling for peragraphs*/
  .contenido p {
	text-align: justify;
	font-size: 1.2rem;
	line-height: 1.2;
	color: black;
	margin-bottom: 0.5rem;
}

 /* styling for list items*/
.card ul  {
	margin-left: 3rem;
	  color: var(--tyrian-purple);
	  list-style: circle;
  }


  .header-blog {
	padding: 20px;
	font-size: 40px;
	text-align: center;
	background: rgb(175, 1, 88);
  }


