/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   -----------RESET-------
*/

html, body, div, span, applet, object, iframe,
 h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------ESTILO ESPECÍFICO -----------------*/


/* --cambiar fuente:*/
h1{
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	line-height: 0.5rem;
	padding-top: 1rem;

}
h2{
	font-size: 2rem;
}


.subtitle
{
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	line-height: 0rem;
	font-size: 0.9rem;

}

a{
	color:white;
	text-decoration: none;
}

a:hover {
	font-weight: 800;
}

/*-----CAMBIAR FUENTE*/
body{
	background-color: black;
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.identidad{
	display: flex;
	gap: 0rem;
}



.nav1 {
	
	display:flex;
	gap: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
	color: white;

}

header { 
	background-color: rgba(128, 9, 13, 0.644);
	height: 6rem;
	display: flex;
	justify-content:space-between
}


main{
	display: flex;
    flex-direction: column;
	padding-top: 10rem;
	padding-left: 4rem;
	padding-right: 4rem;
	
}


.contenedor{ 
	 display: flex;
	 flex-wrap: wrap;
	 gap: 20px;
	 padding: 20px;
     
}

/* styles.css*/

·{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial,sans-serif;
  }
 

 .main-section .overlay{
          position: absolute;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  align-items: flex-end;
		  padding: 20px;
 }

 .main-section .overlay h1{
	     font-size: 30px;
		 margin-bottom: 15px;
 }

 .main-section .overlay p{
	     font-size: 16px;
	     max-width:500px;
	     margin-bottom: 10px;
 }

/*.main-section .overlay button{
	        padding: 10px ;
			background-color: #bbb;
			color: #fff;
			border: none;
 }

  .main-section .overlay button:hover{
	     background-color: #444;
 }*/

  /* footer*/
  footer {
     background-color: #333;
	 color:  #fff;
	 padding: 20pxo;
	 font-size: 16px;
 }

  .footer-content{
      display: flex;
	  justify-content: space-around;
	  padding: 100px;
	  border-top: 1px solid#444;
 }

  .footer-section{
        text-align: left;
 }
  
  .footer-section h3{
	   margin-bottom: 10px;
	   font-size: 16px;
       color: #f0f0f0;
 }

  .footer-section ul{
	  list-style: none;
	  padding: 0;
 }

  .footer-section ul li{
	    margin: 8px;
 }

  .footer { 
     position: absolute; 
     bottom: 0; 
     left: 0; 
 }

  .footer-bottom{
	  text-align: center;
	  padding: 30px;
	  background-color: #252222;
	  color: white;
	  font-size: 15px;
 }


@media  screen and (max-width:650px){






.nav1 {
	
	display:flex;
	flex-direction: column;
	padding-right: 2rem;
	color: white;
	padding-left: 3rem;
	line-height: 0;
	padding-top: 0rem;

}

header { 
	background-color: rgba(128, 9, 13, 0.644);
	height: 21rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.contenedor{ 
	display: flex;
	flex-direction: column;

	}

	.identidad{
		display: flex;
		gap: 0rem;
	}
	


}

