/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   -----------RESET-------
*/

html,
body,
div,
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------ESTILO ESPECÍFICO -----------------*/

/* ---- COLORES ---- */
/* CSS HEX */
:root {
  --bittersweet: #ff595eff;
  --tyrian-purple: #5c0029ff;
  --violet-jtc: #61304bff;
  --azul-claro: #94bfbeff;
  --celadon: #acf7c1ff;
}

/* --cambiar fuente:*/
h1 {
  color: var(--celadon);
  font-family: "Philosopher", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 0.3rem;
}

.tituloHeader{
  color: var(--celadon);
  font-family: "Philosopher", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  line-height: 0.5rem;
  padding-top: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 2rem;

}

h2 {
  color: var(--celadon);
  font-family: "Philosopher", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  color: var(--celadon);
  font-family: "Philosopher", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  padding-top: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

h4 {
  color: var(--celadon);
  font-family: "Philosopher", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  padding-top: 1rem;
  font-size: 1.3rem;
}



.subtitleHead {
  color: var(--celadon);
  font-family: "Quicksand", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  font-size: 1rem;
  padding-top: 1.3rem;
  padding-left: 0.3rem;
}


a {
  color: var(--celadon);
  text-decoration: none;
}


a:hover {
  color: var(--azul-claro);
}


.button {
	background-color: var(--tyrian-purple); /* Green */
	border: none;
	border-radius: 0.5rem;
	color: var(--celadon);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight:500;
	cursor: pointer;
	transition-duration: 0.1s;
  }

  .button:hover{
	background-color: var(--celadon);
	color: var(--tyrian-purple);

  }

  body {
  /*background-color: black;*/
  font-family: "Quicksand", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--celadon);
  font-size: 1.2rem;

 
}

.identidad {
  display: flex;
  gap: 0rem;
}

.nav1 {
  display: flex;
  gap: 2rem;
  padding-right: 2rem;
  padding-top: 2.3rem;
  color: var(--celadon);
  font-family: "Quicksand", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight:600;
  font-size: 1.1rem;
  text-transform: uppercase;
}

header {
  background-color: var(--tyrian-purple);
  height: 6rem;
  display: flex;
  justify-content: space-between;
}

main {
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 8rem;
}

section{
  padding: 1rem;
  margin: 2rem 0;
}

.contenedor{ 
	/*background-color: aquamarine;*/
	display: flex;
	padding-top: 3rem;
	
	gap: 2rem;
	flex-direction:row;
	justify-content: center;
	align-content: center;
	/*background-color: rgba(0, 0, 0, 0.616);
	border-radius: 2rem;*/
}

.contenido1 {
  /*background-color: rgb(236, 220, 146);*/
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contenido2 {
  /*background-color: rgb(255, 154, 221);*/
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.contenido3 {
  /*background-color: rgb(245, 149, 132);*/

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 6rem;
  padding-bottom: 1rem;
 
}


/*FOOTER*/

footer {
  background-color: #333;
  color:  #fff;
  
  font-size: 16px;
}

.footer-content{
   display: flex;
   justify-content: space-around;
   padding: 2rem;
   border-top: 1px solid#444;
}

.footer-section{
     text-align: center;
}

.footer-section h3{
    margin-bottom: 10px;
    font-size: 16px;
    color: #f0f0f0;
}

.footer-section ul{
   list-style: none;
   padding: 0;
}

.footer-section ul li{
     margin: 6px;
}

.footer { 
  position: absolute; 
  bottom: 0; 
  left: 0; 
}

.footer-bottom{
   text-align: center;
   padding: 0.5rem;
    background-color: #252222;
   color: white;
   font-size: 15px;
  
}

.redessociales{
  font-size: 1.5rem;
}



@media screen and (max-width: 800px) {
  .nav1 {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    color: var(--celadon);
    padding-left: 3rem;
    line-height: 0.5;
    padding-top: 0rem;
	text-align: center;
	font-size: larger;
	
  }

  header {
    height: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 2rem;
  }

  .contenedor {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  
  
  }

  .identidad {
    display: flex;
    gap: 0rem;
  }

  .footer-content{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    border-top: 1px solid#444;
 }
 footer{
  padding: 0;
 }
}